// Colors

$basic-text: #272727;
$secondary-text: #222222;
$title-text: #191919;
$subtitle-text: #555555;
$nav-text: #242335;
$text-404: #6d6d6d;
$subnav-text: #868686;
$label-text: #202020;
$button-text: #282828;
$link-text: #353535;
$new-text: #EFCA00;
$background: #F9F9F9;
$background-darker: #F2F2F2;
$blue-2d: #2D61AB;
$blue-1b: #1B3C6A;
$blue-02: #002B64;
$gray-7f: #7F7E7E;
$gray-cc: #CCCCCC;
$gray-d7: #D7D7D7;
$gray-e2: #E2E2E2;
$gray-eb: #EBEBEB;
$gray-f5: #F5F5F5;
$white: #FFFFFF;
// Constants

$transition-time: .3s;
$border-radius: 19px;