// Colors

$basic-text: #272727;
$secondary-text: #222222;
$title-text: #191919;
$subtitle-text: #555555;
$nav-text: #242335;
$subnav-text: #868686;
$label-text: #202020;
$button-text: #282828;
$link-text: #353535;
$hover-text: #2D61AB;
$background: #F9F9F9;
$gray: #7F7E7E;
$white: #FFFFFF;

// Constants

$transition-time: .3s;
$border-radius: 19px;