html,
body {
  margin: 0;
  background: $white;
  color: $basic-text;
  font-size: 18px;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &,
  &:link,
  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: inherit;
  }
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
}