.button {
    display: inline-block;
    min-width: 185px;
    padding: 12.5px 27px;
    border-radius: $border-radius;
    box-shadow: 0 0 11.18px 1.82px rgba(0, 0, 0, 0.11);
    @include roboto-bold;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    background: $white;
    color: $button-text;
    text-align: center;
    cursor: pointer;
    transition: $transition-time all;

    &:hover {
        box-shadow: 0 0 11.18px 3.82px rgba(0,0,0,0.11);
    }

    &._transparent {
        padding: 11.5px 27px;
        border: 1px solid $link-text;
        background: transparent;
        box-shadow: none;

        &:hover {
            background-color: $link-text;
            color: $white;
        }
    }
}
