.manual {

    &__categories {
        padding: 45px 0 40px;
        border-top: 2px solid $gray-e2;
        border-bottom: 2px solid $gray-e2;

        &-row {
            @include row();
            padding-left: 6px;
        }

        &-item {
            @include column(center);

            & + & {
                margin-left: 35px;
            }

            &-title {
                @include roboto-bold;
                font-size: 18px;
                color: $secondary-text;
                transition: $transition-time color;
            }

            &._active {
                pointer-events: none;
            }


            &._active &-title,
            &:hover &-title {
                color: $blue-2d;
            }
        }

        &-item._active & {

            &-img-wrap:before {
                transform: scale(1.05);
            }
        }

        &-img {

            &-wrap {
                position: relative;
                width: 247px;
                height: 156px;
                margin-bottom: 22px;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: scale(1);
                    @include bg-image('category-item-bg.jpg');
                    z-index: -1;
                    transition: $transition-time transform;
                }
            }

            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &__nav,
    &__article {
        width: 750px;
    }

    &__nav {
        padding-top: 45px;

        &-desc {
            @include roboto-bold;
            line-height: 32px;
        }

        &-list {
            @include column();
            margin-top: 60px;
        }

        &-item {
            position: relative;
            padding-left: 34px;
            @include roboto-light;
            color: $blue-2d;
            text-decoration: underline;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 11px;
                height: 11px;
                @include bg-image('circle.png');
                background-size: cover;
            }

            & + & {
                margin-top: 10px;
            }

            &:hover {
                @include roboto-bold;

                &:before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &__article {
        padding-top: 55px;

        &-title {
            margin-bottom: 45px;
            @include museo-black;
            font-size: 23px;
            text-transform: uppercase;
            letter-spacing: 1.1px;
        }

        &-video {
            width: 730px;
            height: 402px;
            margin: 40px 0;
        }

        &-body {
            @include roboto-light;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: .3px;
        }

        b,
        strong {
            font-weight: 700;
        }

        p + p {
            margin-top: 40px;
        }
    }
}