<footer class="footer">
    <div class="footer__main">
        <div class="footer__container container">
            <div class="footer__copyright">
                Copyright 2018 Inline. Все права защищены
            </div>
            <div class="footer__social">
                <a href="#" class="footer__social-link _fb"></a>
                <a href="#" class="footer__social-link _inst"></a>
                <a href="#" class="footer__social-link _skype"></a>
            </div>
            <div class="footer__dev">
                Дизайн и разработка
                <a href="#" class="footer__dev-link">Ololo</a>
            </div>
        </div>
    </div>
</footer>

//= popups.html
</body>
<script src="js/main.js"></script>
</html>