<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Inline</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs.js"></script>
</head>
<body>
<header class="header">
    <div class="header__container container">
        <a href="/" class="header__logo"></a>
        <div class="header__contacts">
            <div class="header__phones">
                <a href="tel:0489379992" class="link">(048) 937 99 92</a>
                <a href="tel:0509379992" class="link">(050) 937 99 92</a>
            </div>
            <button class="button">Консультация</button>
        </div>
    </div>
</header>